streamlit>=1.51.0
starlette<0.40.0
langchain-core>=1.5,<2
langchain-groq>=1.1,<2
google-genai>=2.14,<3
pypdf>=5.9,<6
Markdown>=3.7,<4
faiss-cpu
pytesseract
sentence-transformers
pymupdf
Pillow
huggingface_hub
torch
bleach
torchvision
transformers
supabase
Authlib
