streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
google-genai
pypdf
pytesseract
pymupdf
Pillow
faiss-cpu
sentence-transformers
huggingface_hub
bleach
supabase
Authlib
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
